{% extends 'core/base.html' %}
{% block content %}
    <div class="max-w-6xl mx-auto py-8">
        <h1 class="text-3xl font-bold mb-6">Book List</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for book in book %}
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <h2 class="text-xl font-semibold mb-2">{{ book.title }}</h2>
                    <p class="text-gray-600 mb-4">{{ book.author }}</p>
                    <p class="text-gray-800">{{ book.description }}</p>
                    <p class="text-purple-600 font-bold mt-4">RM{{ book.price }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

